<% provide(:title, "Log in") %>

<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    
      <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
      <%= f.password_field :password, placeholder: "Password", 
                                                    class: "form-control" %>
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      </div>
      <p class="formMessage">New User? <%= link_to "Sign up.", signup_path %></p>
    </div>
  </div>

<% end %>

