<!DOCTYPE html>
<html>
<head>
  <title>Bitly Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<br />
<br />
<%= yield %>

</body>
</html>
