<!DOCTYPE html>
<html>
<head>
  <title>Source</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if logged_in? %>
      <%= link_to "Log out #{current_user.email}", logout_path, method: 'delete' %>
    <% else %>
      <%= link_to 'Log in', login_path %>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
