!!! 5
%html
  %head
    %title Source
    = stylesheet_link_tag 'application', { media: 'all', 'data-turbolinks-track' => true }
    = javascript_include_tag 'application', { 'data-turbolinks-track' => true }
    = csrf_meta_tags
  %body

    = render 'partials/nav'

    .container.primary-body
      - flash.each do |name, msg|
        = content_tag :div, msg, :class => "flash_#{name}"

      = yield