<!DOCTYPE html>
<html>
<head>
  <title>Source</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

</head>
<body>
  <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><%= link_to "home", urls_path%></li>
          <li><%=link_to "shorten url", new_url_path %></li>
        </ul>


      </div>
    </div>
  </header>

<div class="container-fluid">
  <%= yield %>
</div>


</body>
</html>
