<!DOCTYPE html>
<html>
<head>
  <title>Source</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">chomp.it</a>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <%= text_field(:url, :unshortened, placeholder: "http://www.LinkYouWantToShorten.whatever/...") %>
        <!-- <input type="text" class="form-control" placeholder="Paste a link!"> -->
      </div>
      <!-- <button type="submit" class="btn btn-default">Chomp it</button> -->
      <%= button_to "Chomp it!", new_url_path%>
    </form>
  </div><!-- /.container-fluid -->
  </div>
</nav>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
