<%= content_tag(:h1, "Hello!") %>

  <div class="jumbotron">
    <h1>Welcome to chomp.it!</h1>
    <p>Chomp.it is the free and easy URL shortener. Just paste a URL in the field below
    and you'll get a shortened URL that you can share over social media.</p>
    <div class="input-group">
      <%# text_field(:url, :unshortened, placeholder: "http://www.LinkYouWantToShorten.whatever/", value: @value) %>
      <%# button_to "Chomp it!", shorten_path(url:{unshortened:@value}), :method => :post%>


    </div>



  </div>
  <%= form_tag shorten_path, :method => 'post' do %>
    <p>
      <%= text_field_tag :url, params[:unshortened] %>
      <%= submit_tag "Go", :name => nil %>
    </p>
  <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Unshortened</th>
      <th>Shortened</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.unshortened %></td>
        <td><%= url.full_shortened %></td>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>
