<p>Index Page</p>

<% @urls.each do |url| %>
  <p><%= url.address %> - <%= "#{request.url}#{url.id}" %> - Clicks: <%= url.click_count %></p>
<% end %>

<%= form_for @url do |f| %>
  <%= f.text_field :address %>
  <%= f.submit "Shorten URL" %>
<% end %>