<h1>Listing Urls:</h1>

<table>
  <tr>
    <th>Short Url</th>
    <th>Times Visited</th>
    <th>Original Url</th>
  </tr>

  <% @urls.each do |url| %>
    <tr>
      <td><%= url.short_url %></td>
      <td><%= url.click_count %></td>
      <td><%= url.long_url %></td>
      <td><%= link_to 'Show', url_path(url) %></td>
      <td><%= link_to 'Edit', edit_url_path(url) %></td>
      <td><%= link_to 'Delete', url_path(url), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Url', new_url_path %><br/>
<%= link_to 'Home', root_path %>