<h1>Listing urls</h1>

<table>
  <thead>
    <tr>
      <th>Short url</th>
      <th>Real url</th>
      <th>Clicks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.short_url %></td>
        <td><%= url.real_url %></td>
        <td><%= url.click_count %></td>
        <td><%= link_to 'Go to', "urls/#{url.short_url}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>
