<h1>Listing urls</h1>

<table>
  <thead>
    <tr>
      <th>Clicks</th>
      <th>Shortened</th>
      <th>Original</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.click_count %></td>
        <td><%= link_to url.shortened, shortened_path(url.shortened)  %></td>
        <td><%= url.original %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>
