<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@url, :html => { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-4">
          <%= f.label :long_url %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :long_url, class: "form-control", placeholder: "your-long-url.com",
                  autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div align="center">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <div align="center">
     [ <%= link_to "Cancel and go home", root_path %> ]
   </div>
  </div>
</div>
