%h1 Jonah's Fantastic URL Shortener

- if flash[:notice]
  .notice
    = flash[:notice]

= form_for @url do |u|
  - if u.object.errors.any?
    .alert.alert-error
      The form contains
      = pluralize(u.object.errors.count, "error")
      \.
      %ul
        - u.object.errors.each do |msg|
          %li
            = msg
  .form-group
    = u.label :address, "Enter the address to shorten:"
    = u.text_field :address, class: "form-control"
  .form-group
    = u.submit "Submit", class: "btn btn-submit"
