<h1>Make a new url here</h1>

<%= form_for :url, url: urls_path, local: true do |form| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:
      </h2>
      <ul>
        <%= @url.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :long_url %>
    <%= form.text_field :long_url %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Home', root_path %>