<p id="notice"><%= flash[:success] %></p>
<p id="notice-error"><%= flash[:error] %></p>

<p>
  <strong>Long url:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Short url:</strong>
  <a href="<%= short_url @url %>"><%= short_url @url %></a>
</p>

<%= link_to 'Back', urls_path %>
