<p id="notice"><%= notice %></p>

<p>
  <strong>Unshortened:</strong>
  <%= @url.unshortened %>
</p>

<p>
  <strong>Shortened:</strong>
  <%= @url.full_shortened %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
