<h1>Showing a URL here</h1>
<p>
  <strong>Original Url:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Visit Count:</strong>
  <%= @url.click_count %>
</p>

<p>
  <strong>Short Url:</strong>
  <%= @url.short_url %>
</p>

<%= link_to 'Back', urls_path %><br/>
<%= link_to 'Home', root_path %>
