<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @url.short_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @url.name %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @url.clicks %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
