<h1>Sign up!</h1>
<%= form_for @user do |f| %>
  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign up" %>
<% end %>
