<header>
  <div class="navbar navbar-default">
    <%= link_to "Big Title", root_path, id: "logo" %>
    <ul class="nav nav-pills">
      <% if current_user != nil %>
        <li id="loginIdentifier"style="padding: 10px 30px 0 0">
          Logged in as: <%= full_name(current_user) %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            User Menu <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
            <li><%= link_to "List of Users", users_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          </ul>
        </li>
      <% end %>
      <li><%= link_to "Link1", '#' %></li>
      <li><%= link_to "Link2", '#' %></li>
    </ul>
  </div>
</header>